
.landingPage{
    display: flex;
}

.menu-option{
    background: linear-gradient(90deg, #FFC86F 50%, #FFC86F 50%);
    color: #282c34;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

h1{
    justify-content: flex-end;
}

.rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }